@media screen and (min-width: 780px) {
    .header{
        display: flex;
        flex-direction: column;
    }
}

::selection{
    color: white;
    background: #390c39;
}

.header, .footer {
    width: 100vw;
}

.header a{
    color: white;
    text-decoration: none;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #390c39;
    background-size: cover;
    font-size: x-large;
    font-weight: bold;
}
.center{
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.right{
    justify-self: end;
    align-self: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

.header a:hover {
    /*background-color: #dddddd;*/
    outline: 1px solid white;
    /*color: black;*/
    border-radius: 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #390c39;
}

.footer a {
    color: white;
    font-style: italic;
}
/**********************************************/
html {
    background: ghostwhite;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Alegreya Sans SC';
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.welcome_container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15% 1fr 5%;
}

.welcome_page {
    display: grid;
    align-content: center;
    justify-content: center;
}

.input {
    text-align: center;
    padding-bottom: 20px;
    color: #390c39;
    background: ghostwhite;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
label{
    font-style: italic;
}

.input.submit{
    justify-content: center;
}

.city_name {
    margin: auto;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    color: #dddddd;
    padding-top: 3%;
}

.city_date {
    margin: 0;
    text-align: center;
    font-style: italic;
    color: #dddddd;

}

.error_message {
    padding-top: 20%;
    margin: auto;
    text-align: center;
    color: #4caf50;
    font-size: 35px;
}

.for_o_four, .five_o_o {
    padding-top: 17px;
    text-align: center;
    font-size: 50px;
    color: #4caf50;
}

.temp_and_icon {
    float: left;
    text-align: center;
    padding: 10px 0 10px 5%;
    image-resolution: normal;
    color: #dddddd;
}

.temp {
    font-size: 55px;
}

.description {
    color: #dddddd;
    font-size: 20px;
    font-weight: bold;
}

.weather_table {
    float: right;
    color: #dddddd;
    font-style: italic;
    padding: 5px 5% 0 2%;
    text-align: left;
}

.weather_table_data {
    height: 40px;
    vertical-align: bottom;
}

.weather_table td {
    padding: 10px;
}

.weather_table tr:nth-child(odd) {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}

/***********************************/
.container {
    overflow: auto;
    margin: auto;
    width: 85%;
    background-color: black;
    opacity: 0.35;
    border-radius: 5px;
}

/**********************************/
/*longTerm*/
.container_lt {
    display: grid;
    grid-area: main;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 5px;
    overflow: auto;
    margin: auto;
    /*background-color: black;
    opacity: 0.35;*/
    padding-bottom: 2%;

}

.firstDay, .secondDay, .thirdDay, .fourthDay, .fifthDay {
    /*border-left: 3px solid #dddddd;
    border-right: 3px solid #dddddd;*/
    padding: 10px;
}

.weather_table_lt {
    color: white;
    border-bottom: 1px solid #dddddd;
}

.weather_table_lt td:nth-child(even) {
    padding: 20px;
    text-align: center;
    vertical-align: bottom;
}

.weather_table_lt tr:nth-child(odd) {
    font-weight: bold;
    color: #4caf50;
}

.icon_and_description_lt {
    text-align: left;
}

.first_day_lt_description {
    color: white;
    font-weight: bold;
}

.hour {
    color: white;
    font-size: large;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.day_of_week_and_date_lt {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid dodgerblue;
}

.day_of_week_lt, .date_lt {
    color: dodgerblue;
    font-weight: bold;
    font-size: x-large;
}


