.header, .footer {
    position: fixed;
    width: 100%;
    background-color: #333;
}

.header {
    top: 0;
    left: 0;
    padding: 5px;
}

.header a {
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.center {
    position: absolute;
    left: 43%;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.right {
    float: right;
    padding: 10px 35px;
}

.header a:hover {
    /*background-color: #333333;*/
    color: black;
}

.footer {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.footer a {
    color: white;
    font-style: italic;
}

/**********************************************/
html {
    background: url("black-town-city-grey-minimalism-picture-shadow-dark.jpg") no-repeat fixed center;
    background-size: 100% 95%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
}

.welcome_page {
    padding: 15% 0;
    text-align: center;
}

.input {
    text-align: center;
    padding: 5px;
}

.city_name {
    margin: auto;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    color: #dddddd;
    padding-top: 3%;
}

.city_date {
    margin: 0;
    text-align: center;
    font-style: italic;
    color: #dddddd;

}

.error_message {
    padding-top: 20%;
    margin: auto;
    text-align: center;
    color: #4caf50;
    font-size: 35px;
}

.for_o_four, .five_o_o {
    padding-top: 17px;
    text-align: center;
    font-size: 50px;
    color: #4caf50;
}

.temp_and_icon {
    float: left;
    text-align: center;
    padding: 10px 0 10px 5%;
    image-resolution: normal;
    color: #dddddd;
}

.temp {
    font-size: 55px;
}

.description {
    color: #dddddd;
    font-size: 20px;
    font-weight: bold;
}

.weather_table {
    float: right;
    color: #dddddd;
    font-style: italic;
    padding: 5px 5% 0 2%;
    text-align: left;
}

.weather_table_data {
    height: 40px;
    vertical-align: bottom;
}

.weather_table td {
    padding: 10px;
}

.weather_table tr:nth-child(odd) {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}

/***********************************/
.container {
    overflow: auto;
    margin: auto;
    width: 85%;
    background-color: black;
    opacity: 0.35;
    border-radius: 5px;
}
/**********************************/
            /*longTerm*/
.container_lt {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 5px;
    overflow: auto;
    margin: auto;
    background-color: black;
    opacity: 0.35;
    padding-bottom: 2%;
}

.first_day_lt_description {
    color: dodgerblue;
}

.firstDay, .secondDay, .thirdDay, .fourthDay, .fifthDay {
    border-left: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
    padding: 10px;
}

.weather_table_lt {
    color: white;
    border-bottom: 1px solid #dddddd;
}

.weather_table_lt td:nth-child(even) {
    padding: 20px;
    text-align: center;
    vertical-align: bottom;
}

.weather_table_lt tr:nth-child(odd) {
    font-weight: bold;
    color: #4caf50;
}

.icon_and_description_lt {
    color: white;
    align-items: center;
    font-weight: bold;
}

.hour {
    color: red;
    font-size: large;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.day_of_week_and_date_lt {
    color: dodgerblue;
    font-weight: bold;
    font-size: large;
}