
/********************** Utils **********************/
::selection{
    color: white;
    background: #390c39;
}
html {
    background: ghostwhite;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

/********************** Header & Footer **********************/

.header, .footer {
    width: 100vw;
}

.header a{
    color: white;
    text-decoration: none;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #390c39;
    background-size: cover;
}

.center{
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 3vw;
}

.right{
    justify-self: end;
    align-self: center;
    padding-right: 2%;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 1.5vw;
}

.header a:hover {
    outline: 1px solid white;
    border-radius: 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #390c39;
}

.footer a {
    font-size: 1.5vw;
    color: white;
    font-style: italic;
}

/********************** Welcome.html **********************/

.welcome_container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}

.welcome_page {
    align-self: center;
    justify-self: center;
}

.input {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    color: #390c39;
    background: ghostwhite;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

label{
    font-style: italic;
}

.submit{
   text-align: center;
}

/********************** LongTermWeather.html **********************/

.lt_container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 90%;
}

.cont{
    overflow-y: scroll;
    overflow-x: hidden;
}

.firstDay, .thirdDay, .fifthDay{
    display: grid;
    grid-template-columns: 12% repeat(4, auto);
    grid-template-rows: repeat(2,auto);
    background: #dddddd;
}

.secondDay, .fourthDay{
    display: grid;
    grid-template-columns: 12% repeat(4, auto);
    grid-template-rows: repeat(2,auto);
    background: rgba(21,21,21,0.39);
}

.fifthDay{
    padding-bottom: 3%;
}
.day_of_week_lt{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: span 2;
    justify-self: center;
    align-self: center;
}

.city_name {
    text-align:  center;
    font-weight: 200;
    font-size: 1.8vw;
    font-style: italic;
    color: black;
}
.weather_table_lt {
    color: black;
    font-size: 1.10vw;
    text-align: center;
}

.weather_table_lt td:nth-child(even) {
    vertical-align: bottom;
}

.weather_table_lt tr:nth-child(odd) {
    font-weight: bold;
    color: white;
    background: #390c39;
    text-align: center;
}

.icon_and_description_lt {
    text-align: left;
}

.first_day_lt_description {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

.hour {
    color: black;
    font-size: 1.5vw;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.day_of_week_and_date_lt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.day_of_week_lt, .date_lt {
    color: #390c39;
    font-weight: bold;
    font-size: 1.8vw;
}

/********************** Error.html **********************/

.error_container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}

.error_message {
    align-self: center;
    justify-self: center;
    font-size: 5vw;
    font-weight: bold;
}

.for_o_four, .five_o_o {
    color: black;
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
}

/********************** OneDayWeather.html **********************/

.one_day_container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}
.content{
    overflow-y: scroll;
    overflow-x: hidden;
}

.city_date {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: black;
    font-size: 2vw;
}

.container {
    display: grid;
    height: auto;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    place-self: center;
    border: 1px solid blue;
}

.temp_and_icon {
    float: left;
    text-align: center;
    padding: 10px 0 10px 5%;
    image-resolution: normal;
    color: #390c39;
}

.temp {
    font-size: 55px;
}

.description {
    color: #dddddd;
    font-size: 20px;
    font-weight: bold;
}

.weather_table {
    float: right;
    color: blue;
    font-style: italic;
    padding: 5px 5% 0 2%;
    text-align: left;
}

.weather_table_data {
    height: 40px;
    vertical-align: bottom;
}

.weather_table td {
    padding: 10px;
}

.weather_table tr:nth-child(odd) {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}


@media only screen and (max-width: 576px) {
    .center{
        font-size: 4vw;
    }

    .right{
        font-size: 2.5vw;
    }

    .footer a{
        font-size: 2.75vw;
    }

    .firstDay, .secondDay, .thirdDay, .fourthDay, .fifthDay{
        display: grid;
        grid-template-columns: repeat(3,auto);
        background: #dddddd;
        justify-items: center;
    }

    .secondDay, .fourthDay{
        background: rgba(21,21,21,0.39);
    }

    .day_of_week_lt{
        grid-column: span 3;
        text-align: center;
        padding-top: 2%;
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 3vw;
    }
    .date_lt{
        font-size: 2.5vw;
    }

    .first_day_lt_description {
        color: black;
        font-size: 2.5vw;
        font-weight: bold;
    }
    .hour{
        font-size: 3vw;
    }

    .weather_table_lt {
        font-size: 2vw;
        text-align: center;
    }

    .city_name{
        font-size: 2vw;
    }

}