<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/Footer.html}"/>
    <title>Pogoda</title>
</head>
<body>

<div class="header" th:insert="Header"></div>

<div class="cityName">
    <h1>pogoda dla
        <th:block th:text="${weather1.getCity().getName()}"></th:block>
    </h1>
</div>

<ul class="city-list">
    <li class="city-list-dayOfWeek" th:text="${dayOfWeek.get(0)}"></li>
    <br>
    <li class="city-list-date" th:text="${#temporals.format(#temporals.createNow(),'dd.MM.yyyy')}"></li>
    <br>
    <li class="city-list-header" th:each="v, stat : ${firstDay}">
        <div th:if="${v}">
            <div class="city-list-hour" th:text="${#temporals.format(hours.get(stat.index),'HH:mm')}"></div>
        </div>
        <div class="city-list-icon" th:each="w : ${v?.getWeather()}">
            <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${w.getIcon()})}">
            <div class="description" th:text="${w.getDescription()}"></div>
        </div>

            <ul class="inner-list">
                <li class="city-list-temp">
                    <p>temperatura</p>
                    <div th:text="${v?.getMain()?.getTemperature()}"></div>
                    <span>&degC</span>
                </li>
                <li class="city-list-pressure">
                    <p>ciśnienie</p>
                    <div th:text="${v?.getMain()?.getPressure()}"></div>
                    <span>HPa</span>
                </li>
                <li class="city-list-humidity" >
                    <p>wilgotność</p>
                    <div th:text="${v?.getMain().getHumidity()}"></div>
                    <span>%</span>
                </li>
            <br>
                <li class="city-list-rain">
                    <p>deszcz</p>
                    <div th:text="${v?.getRain()?.getRainOneHour()}"></div>
                    <span>mm</span>
                </li>
                <li class="city-list-clouds">
                    <p>zachmurzenie</p>
                    <div th:text="${v?.getClouds().getAll()}"></div>
                    <span>%</span>
                </li>
                <li class="city-list-wind" >
                    <p>wiatr</p>
                    <div th:text="${v?.getWind().getSpeed()}"></div>
                    <span>m/s</span>
                </li>
            </ul>

        <br>
    </li>
    <br>
    <li class="city-list-dayOfWeek" th:text="${dayOfWeek.get(1)}"></li>
    <br>
    <li class="city-list-date" th:text="${#temporals.format(day.plusDays(1),'dd.MM.yyyy')}"></li>
    <br>
    <li class="city-list-header" th:each="v, stat : ${secondDay}">
        <div th:if="${v}">
            <div class="city-list-hour" th:text="${#temporals.format(h.get(stat.index),'HH:mm')}"></div>
        </div>
        <div class="city-list-icon" th:each="w : ${v?.getWeather()}">
            <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${w.getIcon()})}">
            <span th:text="${w.getDescription()}"></span>
        </div>
        <ul class="inner-list">
            <li class="city-list-temp">
                <p>temperatura</p>
                <div th:text="${v?.getMain()?.getTemperature()}"></div>
                <span>&degC</span>
            </li>
            <li class="city-list-pressure">
                <p>ciśnienie</p>
                <div th:text="${v?.getMain()?.getPressure()}"></div>
                <span>HPa</span>
            </li>
            <li class="city-list-humidity" >
                <p>wilgotność</p>
                <div th:text="${v?.getMain().getHumidity()}"></div>
                <span>%</span>
            </li>
            <br>
            <li class="city-list-rain">
                <p>deszcz</p>
                <div th:text="${v?.getRain()?.getRainThreeHours()}"></div>
                <span>mm</span>
            </li>
            <li class="city-list-clouds">
                <p>zachmurzenie</p>
                <div th:text="${v?.getClouds().getAll()}"></div>
                <span>%</span>
            </li>
            <li class="city-list-wind" >
                <p>wiatr</p>
                <div th:text="${v?.getWind().getSpeed()}"></div>
                <span>m/s</span>
            </li>
        </ul>
        <br>
    </li>
    <br>
    <li class="city-list-dayOfWeek" th:text="${dayOfWeek.get(2)}"></li>
    <br>
    <li class="city-list-date" th:text="${#temporals.format(day.plusDays(2),'dd.MM.yyyy')}"></li>
    <br>
    <li class="city-list-icon" th:each="v, stat : ${thirdDay}">
        <div th:if="${v}">
            <div class="city-list-hour" th:text="${#temporals.format(h.get(stat.index),'HH:mm')}"></div>
        </div>
        <div class="city-list-icon" th:each="w : ${v?.getWeather()}">
            <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${w.getIcon()})}">
            <span th:text="${w.getDescription()}"></span>
        </div>
        <ul class="inner-list">
            <li class="city-list-temp">
                <p>temperatura</p>
                <div th:text="${v?.getMain()?.getTemperature()}"></div>
                <span>&degC</span>
            </li>
            <li class="city-list-pressure">
                <p>ciśnienie</p>
                <div th:text="${v?.getMain()?.getPressure()}"></div>
                <span>HPa</span>
            </li>
            <li class="city-list-humidity" >
                <p>wilgotność</p>
                <div th:text="${v?.getMain().getHumidity()}"></div>
                <span>%</span>
            </li>
            <br>
            <li class="city-list-rain">
                <p>deszcz</p>
                <div th:text="${v?.getRain()?.getRainThreeHours()}"></div>
                <span>mm</span>
            </li>
            <li class="city-list-clouds">
                <p>zachmurzenie</p>
                <div th:text="${v?.getClouds().getAll()}"></div>
                <span>%</span>
            </li>
            <li class="city-list-wind" >
                <p>wiatr</p>
                <div th:text="${v?.getWind().getSpeed()}"></div>
                <span>m/s</span>
            </li>
        </ul>
        <br>
    </li>
    <br>
    <li class="city-list-dayOfWeek" th:text="${dayOfWeek.get(3)}"></li>
    <br>
    <li class="city-list-date" th:text="${#temporals.format(day.plusDays(3),'dd.MM.yyyy')}"></li>
    <br>
    <li class="city-list-icon" th:each="v, stat : ${fourthDay}">
        <div th:if="${v}">
            <div class="city-list-hour" th:text="${#temporals.format(h.get(stat.index),'HH:mm')}"></div>
        </div>
        <div class="city-list-icon" th:each="w : ${v?.getWeather()}">
            <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${w.getIcon()})}">
            <span th:text="${w.getDescription()}"></span>
        </div>
        <ul class="inner-list">
            <li class="city-list-temp">
                <p>temperatura</p>
                <div th:text="${v?.getMain()?.getTemperature()}"></div>
                <span>&degC</span>
            </li>
            <li class="city-list-pressure">
                <p>ciśnienie</p>
                <div th:text="${v?.getMain()?.getPressure()}"></div>
                <span>HPa</span>
            </li>
            <li class="city-list-humidity" >
                <p>wilgotność</p>
                <div th:text="${v?.getMain().getHumidity()}"></div>
                <span>%</span>
            </li>
            <br>
            <li class="city-list-rain">
                <p>deszcz</p>
                <div th:text="${v?.getRain()?.getRainThreeHours()}"></div>
                <span>mm</span>
            </li>
            <li class="city-list-clouds">
                <p>zachmurzenie</p>
                <div th:text="${v?.getClouds().getAll()}"></div>
                <span>%</span>
            </li>
            <li class="city-list-wind" >
                <p>wiatr</p>
                <div th:text="${v?.getWind().getSpeed()}"></div>
                <span>m/s</span>
            </li>
        </ul>
        <br>
    </li>
    <br>
    <li class="city-list-dayOfWeek" th:text="${dayOfWeek.get(4)}"></li>
    <br>
    <li class="city-list-date" th:text="${#temporals.format(day.plusDays(4),'dd.MM.yyyy')}"></li>
    <br>
    <li class="city-list-icon" th:each="v, stat : ${fifthDay}">
        <div th:if="${v}">
            <div class="city-list-hour" th:text="${#temporals.format(h.get(stat.index),'HH:mm')}"></div>
        </div>
        <div class="city-list-icon" th:each="w : ${v?.getWeather()}">
            <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${w.getIcon()})}">
            <span th:text="${w.getDescription()}"></span>
        </div>
        <ul class="inner-list">
            <li class="city-list-temp">
                <p>temperatura</p>
                <div th:text="${v?.getMain()?.getTemperature()}"></div>
                <span>&degC</span>
            </li>
            <li class="city-list-pressure">
                <p>ciśnienie</p>
                <div th:text="${v?.getMain()?.getPressure()}"></div>
                <span>HPa</span>
            </li>
            <li class="city-list-humidity" >
                <p>wilgotność</p>
                <div th:text="${v?.getMain().getHumidity()}"></div>
                <span>%</span>
            </li>
            <br>
            <li class="city-list-rain">
                <p>deszcz</p>
                <div th:text="${v?.getRain()?.getRainThreeHours()}"></div>
                <span>mm</span>
            </li>
            <li class="city-list-clouds">
                <p>zachmurzenie</p>
                <div th:text="${v?.getClouds().getAll()}"></div>
                <span>%</span>
            </li>
            <li class="city-list-wind" >
                <p>wiatr</p>
                <div th:text="${v?.getWind().getSpeed()}"></div>
                <span>m/s</span>
            </li>
        </ul>
        <br>
    </li>
</ul>

<form class="button" th:action="@{/}" method="post">
    <button type="submit">wyszukaj ponownie</button>
</form>

<div class="footer" th:insert="Footer"></div>

</body>
</html>