<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8" >
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/Footer.html}"/>
    <title>Pogoda</title>
</head>
<body>

<div class="cityName">
    <h1>Pogoda dla <th:block th:text="${weather.getCityName()}"></th:block></h1>
</div>

<div class="weatherDescription" th:each="val : ${weather.getWeather()}">
    <p th:text="${val.getDescription()}">
</div>

<div class="temperature">
    <p>temperatura <th:block th:text="${weather.getMain().getTemp()}"></th:block>&#176;C</p>
</div>

<div class="clouds">
    <p>zachmurzenie <th:block th:text="${weather.getClouds().getAll()}"></th:block>%</p>
</div>



<form class="button" th:action="@{/}" method="post">
    <button type="submit">wyszukaj ponownie</button>
</form>

<div class="footer" th:insert="Footer"></div>

</body>
</html>