<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Pogoda
        <th:block th:text="${weather.getCityName()}"></th:block>
    </title>
</head>
<body>
<div class="header" th:insert="Header"></div>
<div class="city_name">
    <h1>pogoda
        <th:block th:text="${weather.getCityName()}"></th:block>
    </h1>
</div>
<div class="city_date">
    <h2>
        <th:block th:text="${dayOfWeek}"></th:block>
    </h2>
</div>
<div class="container">
    <div class="temp_and_icon">
        <i>
            <p class="temp">
                <th:block th:text="${weather.getMain().getTemp()}"></th:block>&deg;C
            </p>
            <br>
            <p class="image">
                <img th:src="@{'http://openweathermap.org/img/wn/{img}@2x.png'(img=${weather.getWeather()[0].getIcon()})}">
            </p>
            <br>
            <p class="description">
                <th:block th:text="${weather.getWeather()[0].getDescription()}"></th:block>
            </p>
        </i>
    </div>
    <table class="weather_table">
        <tr class="weather_table_header">
            <td>
                zachmurzenie
            </td>
            <td>
                opady
            </td>
            <td>
                śnieg
            </td>
            <td>
                ciśnienie
            </td>
            <td>
                wilgotność
            </td>
        </tr>
        <tr class="weather_table_data">
            <td>
                <th:block th:text="${weather.getClouds().getAll()}"></th:block>
                %
            </td>
            <td>
                <th:block th:text="${weather.getRain()}"></th:block>
                mm
            </td>
            <td>
                <th:block th:text="${weather.getSnow()}"></th:block>
                mm
            </td>
            <td>
                <th:block th:text="${weather.getMain().getPressure()}"></th:block>
                HPa
            </td>
            <td>
                <th:block th:text="${weather.getMain().getHumidity()}"></th:block>
                %
            </td>
        </tr>
        <tr>
            <td>
                temperatura odczuwalna
            </td>
            <td>
                temperatura maksymalna
            </td>
            <td>
                temperatura minimalna
            </td>
            <td>
                temperatura na<br>poziomie morza
            </td>
            <td>
                temperatura na<br>poziomie gruntu
            </td>
        </tr>
        <tr>
            <td>
                <th:block th:text="${weather.getMain().getFeelsLike()}"></th:block>
                &deg;C
            </td>
            <td>
                <th:block th:text="${weather.getMain().getTempMax()}"></th:block>
                &deg;C
            </td>
            <td>
                <th:block th:text="${weather.getMain().getTempMin()}"></th:block>
                &deg;C
            </td>
            <td>
                <th:block th:text="${weather.getMain().getSeaLevel()}"></th:block>
                &deg;C
            </td>
            <td>
                <th:block th:text="${weather.getMain().getGroundLevel()}"></th:block>
                &deg;C
            </td>
        </tr>
    </table>
</div>
<div class="footer" th:insert="Footer"></div>
</body>
</html>