<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<div class="">
    <form th:action="@{/decision}" th:object="${cityObject}" method="post">
        <input type="text" placeholder="podaj miasto" th:field="${cityObject.name}" required>
        <br>
        <input type="checkbox" id="one" value="1" th:field="${cityObject.id}">
        <label for="one">jednodniowa</label>
        <input type="checkbox" id="two" value="2" th:field="${cityObject.id}">
        <label for="two">pięcio dniowa</label>
        <br>
        <br>
        <input type="submit" value="szukaj">
    </form>
</div>
</body>
</html>